asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2025.4
cryptography==44.0.2
dj-database-url==2.3.0
Django==5.2
django-allauth==65.7.0
django-cleanup==9.0.0
django-crispy-forms==2.4
gunicorn==23.0.0
idna==3.10
oauthlib==3.2.2
packaging==25.0
pillow==11.2.1
psycopg==3.2.6
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.1.0
razorpay==1.4.2
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==78.1.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
whitenoise==6.9.0
