{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}


    <!-- sidebar + content -->
    {% include 'includes/nav.html' %}
    <section class="">
        <div class="container">
            <div class="row">
                <!-- sidebar -->

                <!-- sidebar -->


                <!-- content -->
                <div class="col-lg-12">


                    <div class="row">

                        {% for product in product %}
                            <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                                <div class="card w-100 my-2 shadow-2-strong">
                                    <img src="{{ product.image_1.url }}"
                                         class="card-img-top"/>
                                    <div class="card-body d-flex flex-column">
                                        {% if product.is_discount %}
                                            <div class="d-flex flex-row">
                                                <h5 class="mb-1 me-1 ruppe"> &#8377;{{ product.discount_price }}</h5>
                                                <span class="text-danger ruppe"><s> &#8377;{{ product.price }}</s></span>
                                            </div>
                                        {% else %}
                                            <div class="d-flex flex-row">
                                                <h5 class="mb-1 me-1 ruppe"> &#8377;{{ product.price }}</h5>
                                            </div>
                                        {% endif %}

                                        <p class="card-text ">{{ product.name }}</p>
                                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                            <a href="{% url 'product' product.id %}"
                                               class="btn btn-primary shadow-0 me-1">View Product</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>

                    <hr/>

                    <!-- Pagination -->

                    <!-- Pagination -->
                </div>
                <div class="load-more-container text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if product.has_previous %}
                                <li class="btn btn-outline-primary-2 btn-order btn-block">
                                    <a class="page-link" href="?page={{ product.previous_page_number }}">Previous
                                        Products</a>

                                </li>
                                <br>
                                <br>
                            {% endif %}
                            {% if product.has_next %}
                                <li class="btn btn-outline-primary-2 btn-order btn-block">
                                    <a class="page-link" href="?page={{ product.next_page_number }}">More Products</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

            </div>
        </div>

    </section>

    <!-- sidebar + content -->

{% endblock %}